# ADOdb maintenance scripts configuration file
# Rename this file to 'env.yml' and update variables below as appropriate.

# SourceForge API key
# Get it from https://sourceforge.net/auth/preferences/
# under "Releases API Key"
sf_api_key:

# Gitter
# Get API Personal Access token from https://developer.gitter.im/apps
gitter_token:
gitter_room: ADOdb/ADOdb

# Twitter
# Manage API keys from https://developer.twitter.com/en/portal/dashboard
twitter_account: ADOdb_announce
# Consumer Keys
twitter_api_key:
twitter_api_secret:
# Authentication Token (must have write permission to post tweets)
twitter_access_token:
twitter_access_secret:

# GitHub
# Get Personal access token from https://github.com/settings/tokens
# (must have public_repo scope)
github_token:
github_repo: ADOdb/ADOdb
