# ADOdb maintenance scripts configuration file
# Rename this file to 'env.yml' and update variables below as appropriate.

# SourceForge API key
# Get it from https://sourceforge.net/auth/preferences/
# under "Releases API Key"
sf_api_key:

# Matrix
# Get API Token from Element: click profile icon (top left), All Settings,
# Help & About, scroll down to Advanced section (bottom), expand Access Token
matrix_token:
# Home server of the user ID owning the Token
matrix_domain: gitter.im
# Room alias. If ':server' is not specified, matrix_domain will be appended
matrix_room: "#ADOdb_ADOdb:gitter.im"

# Twitter
# Manage API keys from https://developer.twitter.com/en/portal/dashboard
twitter_account: ADOdb_announce
# Consumer Keys
twitter_api_key:
twitter_api_secret:
# Authentication Token (must have write permission to post tweets)
twitter_access_token:
twitter_access_secret:

# GitHub
# Get Personal access token from https://github.com/settings/tokens
# (must have public_repo scope)
github_token:
github_repo: ADOdb/ADOdb
